#Core files
core*

#vim files
*~
*.swp
*.swo

#Tag files
tags

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
test_shrmap
test_shrq
test_internal
test_shared
sharedq/sharedq
shrq_harness/shrq_harness
cppconnect
dconnect
cppsplitter
dsplitter

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.vscode/*
